<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./users">Users</a></li>
            <li><a href="./admin">Admin</a></li>
        </ul>
    </nav>

    <div>
        <h1>Welcome!!!</h1>
        <h2>If you are a user, click on User above, otherwise click on admin</h2>

        <p>Thank you for visiting our site!</p>
    </div>

        
</body>
</html>